.perspective {

    h1, h2, h3 {
        text-align:center;
    }
    
    article {
    position: relative;
    top: 5%;
    margin: 0 auto;
    display: block;
    font-family:'helvetica neue';
    color: $history;
    width: 31.25rem;
    font-size: 1.5em;
    line-height:1.5em;
    letter-spacing: 0.1em;
    transform: rotatex(40deg);
    animation: textMove 75s linear infinite;
    background: $black;
    padding: 5rem;
    border-radius: 1.5rem;
    
    @media (max-width: 980px) {
        width: 28.125rem;
        text-align: center;
    }
    @media (max-width: 500px) {
        width: 23.125rem;

    }
    @media (max-width: 390px) {
        width: 20.625rem;
    }
    }
    
    @keyframes textMove {
        to {top:-1970px;}
    }
}


