.members, .member{

.memberNav {
    padding: 20px 0;
}
.memberImg {
    margin-top: 50px;
}

.MuiButton-containedPrimary svg {
padding-right: 2px;
}

form div {
    margin-top: 10px;
}

img {
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
}
}