/* ============================================================================
  Navbar
   ============================================================================ */

   
  // $icon-size: 80px;
  // $w: 300px;
  // @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  
  // @mixin lightsaber($color){
  //   background:mix($color,#fff,10%);
  //   box-shadow:$color 0px 0px 0px 2px;
  //   &:hover {
  //     box-shadow:$color 0px 0px 20px 2px;
  //     text-shadow:$color 0px 0px 6px,$color 0px 0px 10px;
  //   }
  // }

   .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    .navbar__logo {
      width: 14rem;
      margin: 1rem;
    }
    nav {
      margin: 0 auto;
      .navbar__underline {
        width: 81.8%;
        margin: 0 auto;
        margin-top: 0.3000rem;
        color: $gold;
        border: 0.0625rem solid $gold;
        border-radius: 0.625rem;
      }
      a.active {
          position: relative;
          font-weight: bold;
          &::after {
            content: "";
            height: 0.1875rem;
            width: 0;
            background: $gold;
            position: absolute;
            border-radius: 0.625rem;
            bottom: -0.3125rem;
            left: 50%;
            transform: translateX(-50%);
            -webkit-animation: anim 0.3s ease forwards;
            animation: anim 0.6s ease forwards;
            @keyframes anim {
              to {
                width: 110%;
              }
            }
          }
      }
      ul {
        display: flex;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
        list-style: none;
        li {
          margin: 0 1rem;
          font-size: 23px;
          // font-weight: 500;
          font-family: 'Rajdhani', sans-serif;
          a {
            text-decoration: none;
            color: $gold;
          }
        }
      }
    }
   }


   /// Responsive version of the navbar
   @media screen and (max-width: 1100px) {
    .navlinks__desktop {
        font-size: 20px;
      }
    }

   @media screen and (max-width: 1050px) {
    .navlinks__desktop {
        font-size: 18px;
      }
    }
  

   @media (max-width: 990px) {
    .navbar__logo {
      margin: 0 auto !important;
    }
  }

  @media (max-width: 990px) {
    .navbar__desktop, .dark-mode-toggle {
      display: none;
      }
  }

  @media (min-width: 990px) {
    #nav-container {
      display: none;
    }
  }


  /// Burger menu - responsive 

  #nav-container{
    position: relative;
  }
  
 /// Toggle icon

  .toggle-icon {
    display: block;
    position: relative;
    width: 100%;
    top: -5.5rem;
    -webkit-transition: margin 600ms;
    -moz-transition: margin 600ms;
    transition: margin 600ms;
    cursor: pointer;
  }
  
  .toggle-icon .bar {
    display: block;
    width: 3.8em;
    height: 0.25em;
    margin: 0.8em;
    border-right: 2.8em solid black;
    border-left: 0.6em solid $gold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    transition-duration: 600ms;
  }
    .toggle-icon .bar:nth-of-type(1) {
      -webkit-transition: opacity 300ms;
      -moz-transition: opacity 300ms;
      transition: opacity 300ms;
    }
    .toggle-icon .bar:nth-of-type(2) {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  

    .pushed .bar:nth-of-type(1) {
      opacity: 0;
    }
  
    .pushed .bar:nth-of-type(2) {
      margin-left: 1.4em;
      -webkit-transform: rotate(-137deg) translateY(-1.5em);
      -moz-transform: rotate(-137deg) translateY(-1.5em);
      -ms-transform: rotate(-137deg) translateY(-1.5em);
      -o-transform: rotate(-137deg) translateY(-1.5em);
      transform: rotate(-137deg) translateY(-1.5em);
    }
  
    .pushed .bar:nth-of-type(3) {
      margin-left: 0.5em;
      -webkit-transform: rotate(-42deg);
      -moz-transform: rotate(-42deg);
      -ms-transform: rotate(-42deg);
      -o-transform: rotate(-42deg);
      transform: rotate(-42deg);
    }
  
  
  .pushed .toggle-icon:hover .bar:nth-of-type(2) {
    border-right-color: #f90d1d;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(205,40,44,0.75);
  }
  .pushed .toggle-icon:hover .bar:nth-of-type(3) {
    border-right-color: #3769f2;
    box-shadow: 0.4em 0 0.6em 0.1em rgba(83, 94, 247, 0.65);
  }


  /// Burger Menu Content 
  // .menu__box {
  //   z-index: 5;
  // }
  
  //   .menu__btn {
  //     position: fixed;
  //     top: 2.5rem;
  //     left: 2rem;
  //     width: 2.6rem;
  //     height: 2.6rem;
  //     cursor: pointer;
  //     z-index: 7;
  //   }

  //   .menu__btn > span,
  //   .menu__btn > span::before,
  //   .menu__btn > span::after {
  //     display: block;
  //     position: absolute;
  //     width: 100%;
  //     height: 0.2rem;
  //     background-color: $gold;
  //     transition-duration: .25s;
  //   }

  // .menu__btn > span::before {
  //   content: '';
  //   top: -0.8rem;
  // }
  // .menu__btn > span::after {
  //   content: '';
  //   top: 0.8rem;
  // }
  // .menu__box {
  //   display: block;
  //   position: fixed;
  //   top: 0;
  //   left: -150%;
  //   width: 30rem;
  //   height: 100%;
  //   margin: 0;
  //   padding: 8rem 0;
  //   list-style: none;
  //   background-color: white;
  //   box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, .4);
  //   transition-duration: .25s;
  //   z-index: 6;
  // }
  // .menu__item {
  //   display: block;
  //   padding: 1.2rem 2.4rem;
  //   color: $gold;
  //   font-family: 'Rajdhani', sans-serif;
  //   text-transform: uppercase;
  //   font-size: 1.5rem;
  //   font-weight: 500;
  //   text-decoration: none;
  //   transition-duration: .25s;
  // }
  // .menu__item {
  // &:hover {
  //   background-color: #dfdecc;
  //   text-decoration: none;
  //   }
  // }
