/* ============================================================================
  Navbar
   ============================================================================ */

   .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    .logo {
      width: 14rem;
      margin: 1rem;
    }
    nav {
      ul {
        display: flex;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
        list-style: none;
        li {
          margin: 0 1rem;
          font-size: larger;
          a {
            text-decoration: none;
            color: #BA9100;
          }
        }
      }
    }
   }