/* ============================================================================
  Navbar
   ============================================================================ */

   .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $gray;

    /// Logo in the navbar
    .navbar__logo {
      width: 14rem;
      margin: 1rem;
      z-index: 6;
    }

    /// The navbar itself
    nav {
      margin: 0 auto;
      .navbar__underline {
        width: 81%;
        margin: 0 auto;
        margin-top: 0.2800rem;
        color: $gold;
        border: 0.0625rem solid $gold;
        border-radius: 0.625rem;
      }

      /// Nav links active
      a.active {
          position: relative;
          font-weight: bold;
          &::after {
            content: "";
            height: 0.1875rem;
            width: 0;
            background: $gold;
            position: absolute;
            border-radius: 0.625rem;
            bottom: -0.3125rem;
            left: 50%;
            transform: translateX(-50%);
            -webkit-animation: anim 0.3s ease forwards;
            animation: anim 0.6s ease forwards;
            @keyframes anim {
              to {
                width: 110%;
              }
            }
          }
      }

      ul {
        display: flex;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
        list-style: none;
        li {
          margin: 0 1rem;
          font-size: 1.4375rem;
          font-family: 'Rajdhani', sans-serif;
          a {
            text-decoration: none;
            color: $gold;
            &:hover {
              font-weight: 700;
            }
          }
        }
      }
    }
   }


   /// Responsive version of the navbar
   @media screen and (max-width: 1100px) {
    .navlinks__desktop {
        font-size: 1.375rem;
      }
    }
    
.navbar__logo {

  @media screen and (max-width: 1100px) {
    width: 11rem !important;
    transform: translate(39%) ;
  }

  @media (max-width: 990px) {
    margin: 0 auto !important;
  }

  @media (max-width: 500px) {
    width: 10.5rem !important;
  }

  @media (max-width: 400px) {
    width: 10rem !important;
  }
    }

   @media screen and (max-width: 1050px) {
    .navlinks__desktop {
        font-size: 1.3125rem;
      }
    }

  @media (max-width: 990px) {
    .navbar__desktop {
      display: none;
      }
  }

  @media (min-width: 990px) {
    #burger-menu__container {
      display: none;
    }
  }


  /// Burger menu - responsive 

  #burger-menu__container {
    position: relative;
  }
  
 /// Toggle icon

 
  .burger__toggle-icon {
    display: block;
    position: relative;
    width: 100%;
    top: -4.1rem;
    -webkit-transition: margin 600ms;
    -moz-transition: margin 600ms;
    transition: margin 600ms;
    cursor: pointer;
    z-index: 4;
    @media screen {
      
    }
  }
  
  /// Toggle icon bars 

  .burger__toggle-icon .burger__bar {
    display: block;
    width: 3.8em;
    height: 0.25em;
    margin: 0.8em;
    border-right: 2.8em solid $black;
    border-left: 0.6em solid $gold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    transition-duration: 600ms;
  }
    .burger__toggle-icon .burger__bar:nth-of-type(1) {
      -webkit-transition: opacity 300ms;
      -moz-transition: opacity 300ms;
      transition: opacity 300ms;
    }
    .burger__toggle-icon .burger__bar:nth-of-type(2) {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }

    .pushed .burger__toggle-icon {
    top: -5rem;
    left: 0.2rem;
      transform: translateX(11.25rem);
      transition: all 0.9s ease;
      z-index: 7;
    }
  

    /// Action when we push the toggle icon 
    .pushed .burger__bar:nth-of-type(1) {
      opacity: 0;
    }
  
    .pushed .burger__bar:nth-of-type(2) {
      margin-left: 1.4em;
      -webkit-transform: rotate(-137deg) translateY(-1.5em);
      -moz-transform: rotate(-137deg) translateY(-1.5em);
      -ms-transform: rotate(-137deg) translateY(-1.5em);
      -o-transform: rotate(-137deg) translateY(-1.5em);
      transform: rotate(-137deg) translateY(-1.5em);
    }
  
    .pushed .burger__bar:nth-of-type(3) {
      margin-left: 0.5em;
      -webkit-transform: rotate(-42deg);
      -moz-transform: rotate(-42deg);
      -ms-transform: rotate(-42deg);
      -o-transform: rotate(-42deg);
      transform: rotate(-42deg);
    }
  
  
  .pushed .burger__toggle-icon:hover .burger__bar:nth-of-type(2) {
    border-right-color: $red-lightsaber;
    box-shadow: 0.3em 0 0.4em 0.1em $red-lightsaber2;
  }
  .pushed .burger__toggle-icon:hover .burger__bar:nth-of-type(3) {
    border-right-color: $blue-lightsaber;
    box-shadow: 0.3em 0 0.4em 0.1em $blue-lightsaber2;
  }


  /// Content inside the burger menu 
  .burger-menu__content {
    position: absolute;
    width: 15.625rem;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-25rem);
    transition: all 0.9s ease;
    box-shadow: 0.0625rem 0 0.3125rem $dark-mode-shadow ;
    background-color: $gray;
    z-index: 6;

    
    @media (min-width: 990px) {
      display: none;
    }
    
    /// Nav Links container 
    ul{
      font-size: 2rem;
    }
    
    /// Burger menu Nav Links
    li,a{
      text-align: center;
      list-style: none;
      text-decoration: none;
      font-family: 'Rajdhani', sans-serif;
      color: $black;
      font-size: 1.5625rem;
      padding: 0.3125rem;
      position: relative;
      bottom: -1rem;
      line-height: 3rem;


      &:hover {
        font-size: 1.625rem;
        font-weight:600;
        color: $gold;
        text-shadow: 0 0 0.0625rem $white, 0 0 0.0625rem $dark-mode-shadow
      }
      a.active {
        position: relative;
        color: $gold;
        font-weight: bold;
        &::after {
          content: "";
          height: 0.1875rem;
          width: 0;
          background: $gold;
          position: absolute;
          border-radius: 0.625rem;
          bottom: 0.3rem;
          left: 50%;
          transform: translateX(-50%);
          -webkit-animation: anim 0.3s ease forwards;
          animation: anim 0.6s ease forwards;
          @keyframes anim {
            to {
              width: 100%;
            }
          }
        }
    }
    }
  }
  
  /// Show the .content when we click on the toggle icon
  .burger-menu__content-show{
    transform: translateX(0);
    transition: all 0.9s ease;
  }

