/* ============================================================================
   Buttons
     ============================================================================ */


.buttonSaber {
   position: relative;
   display: block;
   text-align: center;
   margin-right: auto;
   margin-left: auto;
   margin-top: 5px;
   margin-bottom: 5px;
   padding-top:5px;
   height: 40px;
   max-width: 200px;
   line-height: 30px;
   letter-spacing: 2px;
   font-family: 'Helvetica';
   font-size: 14px;
   color: $brand-color-day;
   text-transform: uppercase;
   cursor: pointer; 
   span {
   position: absolute;
   transition: all 200ms ease-in-out;
   /* horizontal */
   &.line-2 {
      top: 0;
      left: 0;
      width: 30px;
      height: 4px;
      background: grey;
      
      transform: translateX(-30px);
   }
   &.line-3 {
      bottom: 0;
      right: 0;
      width: 1px;
      height: 4px;
      background: #4DCBF7;
      transform: translateX(3px);
   }
   /* horizontal - small */
   &.line-1 {
      top: 0;
      left: 0;
      width: 1px;
      height: 4px;
      background: #4DCBF7;
      transform: translateX(-10px);
      
   }
   &.line-4 {
      bottom: 0;
      right: 0;
      width: 30px;
      height: 4px;
      background: grey;
      transform: translateX(30px);
   }
   &.line-5 {
      bottom: 0;
      right: 0;
      width: 2px;
      height: 30px;
      background: grey;
      transform: translateY(45%);
   }
   &.line-6 {
      top: 0;
      left: 0;
      width: 2px;
      height: 30px;
      background: grey;
      transform: translateY(-45%);
   }
   }
   &:hover {
      .line-2 {
         //transform: translateX(0px);
      }
      .line-3 { 
         transform: translateX(-45px) scaleX(150) ;
         //box-shadow: 1px 1px 1px #4DCBF7;
         //transform: translateX(10px) rotate(10deg) translateY(5px);
      }
      .line-1 {
         transform: translateX(70px) scaleX(150) ;
      }
   }
}
