// Dark mode button

.dark-mode-toggle {
   position: relative;
   margin-right: 3.5rem;
   z-index: 10;
   @media (max-width: 990px) {
     left: 2rem;
   }
  }
  
  .dark-mode-checkbox {
    display: none;
  }
  
  .dark-mode-label {
    height: 0.8rem;
    width: 2.6rem;
    background: $dark-mode-bg;
    padding: 0.5rem 0.8rem;
    border-radius: 5rem;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transform: scale(1.2);
    box-shadow: 0.08rem 0.1rem 0.1rem $dark-mode-shadow;
  }
  
  .dark-mode-label .dark-mode-ball {
    background: $dark-mode-ball;
    border-radius: 50%;
    height: 1.4rem;
    width: 1.4rem;
    position: absolute;
    top: 0.23rem;
    left: 0.13rem;
    right: 0.1rem;
    transform: translateX(0px);
    transition: transform 0.4s cubic-bezier(.45, -1.12, .35,1.78);
    z-index: 5;
  }
  
  .dark-mode-checkbox:checked + .dark-mode-label .dark-mode-ball {
    transform: translateX(2.5rem);
  }

  .moon__dark-mode, .sun__dark-mode {
      height: 1.1rem;
  }

  .moon__dark-mode {
    margin-left: -0.3rem;
  }
  
  .sun__dark-mode {
    margin-left: 1rem;
    z-index: 1;
  }


/// Responsive version of the dark mode button

  @media screen and (max-width: 1150px) {
    .dark-mode-label {
        height: 0.6rem;
        width: 2.5rem;
        box-shadow: 0.04rem 0.08rem 0.08rem $dark-mode-shadow;
      }
      .dark-mode-label .dark-mode-ball {
      height: 1.3rem;
      width: 1.3rem;
      top: 0.13rem;
      left: 0.145rem;
      z-index: 100;
      }
      .moon__dark-mode {
        height: 1rem;
      }
      .sun__dark-mode {
        height: 1rem;
        margin-left: 1.1rem;
        z-index: 1;
      }
    }
  
