// Dark mode button

.dark-mode-toggle {
    display: flex;

  
  }
  
  .dark-mode-checkbox {
    display: none;
  }
  
  .dark-mode-label {
    height: 2.6rem;
    width: 5rem;
    background: #ffe3ac;
    padding: 0.5rem 0.8rem;
    border-radius: 5rem;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transform: scale(1.2);
    box-shadow: 0.2rem 0.1rem 0.1rem #0f0f0f;
  }
  
  .dark-mode-label .dark-mode-ball {
    background: gray;
    border-radius: 50%;
    height: 2.2rem;
    width: 2.2rem;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    transform: translateX(0px);
    transition: transform 0.4s cubic-bezier(.45, -1.12, .35,1.78);
  }
  
  .dark-mode-checkbox:checked + .dark-mode-label .dark-mode-ball {
    transform: translateX(2.5rem);
  }

  