 /* ============================================================================
    Dark mode
     ============================================================================ */

     /// Here are the dark mode parameters
.dark {

  // The header in dark mode
  .dark-mode-label {
    background: $red-dark-mode;
  }

  .dark-mode-label .dark-mode-ball {
    background: $white
  }
  
  
  .header {
    background-color: $black;

    // logo 
    .navbar__logo-light {
      display: none;
    }
    .navbar__logo-dark {
      display: block;
    }
  nav {
    hr {
      color:  $red-dark-mode;
      border: 0.0625rem solid $red-dark-mode;
    }
    a.active {
      &::after {
        background: $red-dark-mode;
      }
  }
  ul {
    li {
      font-weight: 500;
      a {
        color: $red-dark-mode;
      }
    }
  }
}

}
 
// Burger menu

  .burger-menu__content {
    li,a {
      color: $white;
      &:hover {
        color: $red-dark-mode;
      }
    }
    a.active {
      color: $red-dark-mode;
      &::after {
        background: $red-dark-mode
      }
    }
  }
  .burger__toggle-icon .burger__bar {
    border-right: 2.8em solid $red-lightsaber2;
    border-left: 0.6em solid $white; 
  }
  .burger-menu__content {
    background-color: $black;
  }
  .pushed .burger__toggle-icon:hover .burger__bar:nth-of-type(2) {
    border-right-color: $red-lightsaber;
    box-shadow: 0.3em 0 0.4em 0.1em $red-lightsaber2;
  }
  .pushed .burger__toggle-icon:hover .burger__bar:nth-of-type(3) {
    border-right-color: rgb(77, 196, 77);
    box-shadow: 0.3em 0 0.4em 0.1em rgb(72, 215, 56);
  }

  // The footer 
  footer {
    background-color: $black;
    hr {
      border: 0.0625rem solid $red-dark-mode;
    }
    .footer__container {
      .footer__row {
        article {
          color: $white;

            // logo 
    .footer__logo-light {
      display: none;
    }
    .footer__logo-dark {
      display: block;
    }
          h4 {
            color: $red-dark-mode;
            font-weight: 600;
            font-size: 1.10rem;
          }
          a {
            color: $white;
            &:visited {
              color: $white;
            }
            &:hover{
              color: $gold;
            }
          }
          .social-medias__logo {
            fill: $red-dark-mode;
            &:hover {
              fill: $white;
            }
          }
        }
      }
    }
  
  .footer__copyrights {
    color: $white;
  }
  }


  // Home components 
    .div__container {
      background-color: $black;
    }

    .home__card-title {
      color: $red-dark-mode;
    }

    .cards__home {
      border: 0.0625rem solid $red-dark-mode;
      box-shadow: 0 0.0625rem 0.5rem -0.0625rem $red-dark-mode;
    }


  .posts .cardInfos {
    background-image: linear-gradient(gray, black 12.5rem);
    color:$red-dark-mode;
    box-shadow: 0px 1px 8px -1px $red-dark-mode;
    .cardContent p {
      color:white;
    }

  }
  .buttonSaber{
    span.line-1 {
      background: $red-dark-mode;
    }

    span.line-3 {
      background: $red-dark-mode;
    }

  }

  article.card {
    background-image: linear-gradient(gray, black 12.5rem);
    color:$red-dark-mode;
    box-shadow: 0px 1px 8px -1px $red-dark-mode;
  }

  .wrapper .cta {
    background: $red-dark-mode;
  }

  .post h2 {
    border-bottom: 2px solid $red-dark-mode;
  }

  .sideBarPost .title h2 {
    border-bottom: 2px solid $red-dark-mode;
  }

  .GridContainer {
    border: double $red-dark-mode;
  }

  .post img {
    border: double $red-dark-mode;
  }

  .separator {
    .gold {
    display:none;
    }
    .red {
      display:block;
    }
  }

  .searchBar fieldset {
    border-color:rgba($red-dark-mode, 0.5);
  }
  .searchIcon {
    fill: $red-dark-mode;
  }
  .death-star {
    display:block;
  }
  .titleDiv {
    text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red;
  }

  .buttonSaber a {
    color:$red-dark-mode;
    font-weight:600;
  }

  // Members
  .members {
  
    .cardMember {
      background-color: $black;
      box-shadow: 0px 1px 8px -1px $brand-color-night;
    }
    .MuiTypography-body2 {
      color: $white;
    }
    .MuiTypography-h5 {
      color: $brand-color-night;
    }
  }
  .member {
    background-color: $black;
    box-shadow: 0px 1px 8px -1px $brand-color-night;
    h1{
      color: $brand-color-night;
    }
    p{
      color: white;
    }
  }

  .GridContainer {
    h2 {
        border-bottom: 2px solid $red-dark-mode;
    }
  }
}



// Here, the Dark mode button itself

.dark-mode-toggle {
   position: relative;
  //  left: 90rem;
  //  top: -3rem;
   margin-right: 3.2rem;
   z-index: 10;
   @media (max-width: 990px) {
     left: 2rem;
   }
  }
  
  .dark-mode-checkbox {
    display: none;
  }
  
  .dark-mode-label {
    height: 0.8rem;
    width: 2.6rem;
    background: $dark-mode-bg;
    padding: 0.5rem 0.8rem;
    border-radius: 5rem;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transform: scale(1.2);
    box-shadow: 0.08rem 0.1rem 0.1rem $dark-mode-shadow;
  }
  
  .dark-mode-label .dark-mode-ball {
    background: $dark-mode-ball;
    border-radius: 50%;
    height: 1.4rem;
    width: 1.4rem;
    position: absolute;
    top: 0.2rem;
    left: 0.3rem;
    right: 0.1rem;
    transform: translateX(0);
    transition: transform 0.4s cubic-bezier(.45, -1.12, .35,1.78);
    z-index: 5;
  }
  
  .dark-mode-checkbox:checked + .dark-mode-label .dark-mode-ball {
    transform: translateX(2.2rem);
  }

  .moon__dark-mode, .sun__dark-mode {
      height: 1.1rem;
  }

  .moon__dark-mode {
    margin-left: -0.3rem;
  }
  
  .sun__dark-mode {
    margin-left: 0.75rem;
    z-index: 1;
  }


/// Responsive version of the dark mode button

  @media screen and (max-width: 1150px) {
    .dark-mode-label {
        height: 0.6rem;
        width: 2.5rem;
        box-shadow: 0.04rem 0.08rem 0.08rem $dark-mode-shadow;
      }
      .dark-mode-label .dark-mode-ball {
      height: 1.3rem;
      width: 1.3rem;
      top: 0.13rem;
      left: 0.145rem;
      z-index: 100;
      }
      .moon__dark-mode {
        height: 1rem;
      }
      .sun__dark-mode {
        height: 1rem;
        margin-left: 1.1rem;
        z-index: 1;
      }
    }
  

    @media screen and (max-width: 400px) {
      .dark-mode-label {
          height: 0.4rem;
          width: 2.1rem;
      }
      .dark-mode-label .dark-mode-ball {
        height: 1.1rem;
        width: 1rem;
        top: 0.17rem;
        left: 0.1rem;
        right: 2rem;
        z-index: 100;
        }
        .moon__dark-mode {
          height: 0.7em;
        }
        .sun__dark-mode {
          height: 0.7rem;
          margin-left: 1.4rem;
          z-index: 1;
        }
    }
