/* This is the code for the CSS transition demo */

.svg-mask-transition {
	clip-path: url(#clip-path);
}


/* all the fill transitions */

.circle-bg,
.color-fade-transition {
	transition: fill var(--t-slow) ease-in-out var(--t-delay-colorfades);
}

/* stars transition */
.star {
	fill: var(--star-color);
	opacity: 0;
	transition: opacity var(--t-med) ease-in-out var(--t-delay-colorfades);
}

/* Let"s have some comets raining from the sky */

.svg-defs {
	display: none;
}

.comet-rain {
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	// transform: scaleX(-1);
}

.comet-instance {
	height: auto;
	position: absolute;
	left: -10vw;
	top: -10vh;
	z-index: -1;
	transform: scaleX(-1);
	// right: -10vw;
	// top: -10vh;
	fill: url(#gradient);
}

.comet-01,
.comet-03,
.comet-04,
.comet-06 {
	width: 5vmin;
	//transform: scale(0);
}
.comet-02,
.comet-05 {
	width: 6vmin;
	//transform: scale(0);
}

.x-wing {
    width:100px;
    height: auto;
	position: absolute;
	left: -10vw;
	top: -10vh;
	z-index: -1;
	transform: scaleX(-1);
}

.death-star {
    width:100px;
    height: auto;
	position: absolute;
	left: 5vw;
	top: 5vh;
	//z-index: -1;
	transform: scale(1.2);
	display:none;
}

@media (prefers-reduced-motion: no-preference) {
	.comet-instance {
		animation: MakeItRain 10s infinite;
	}

    .xwing-instance {
		animation: MakeItFly 5s infinite;
	}

	.comet-01 {
		left: 30vw;
		animation-delay: 0ms;
	}

    .x-wing {
		left: 15vw;
		animation-delay: 15ms;
	}

	.comet-02 {
		left: 57vw;
		animation-delay: 9s;
	}

	.comet-03 {
		left: 83vw;
		animation-delay: 6s;
	}

	.comet-04 {
		top: 13vh;
		animation-delay: 22s;
	}

	.comet-05 {
		top: 34vh;
		animation-delay: 5s;
	}

	.comet-06 {
		top: 67vh;
		animation-delay: 14s;
	}

	@keyframes MakeItRain {
		0% {
			opacity: 0;
			transform: scaleX(-1) translate(0, 0);
		}
		70% {
			opacity: 0.4;
			transform: scaleX(-1) translate(0, 0);
		}
		100% {
			opacity: 1;
			transform: scaleX(-1) translate(-101vw, 101vmax);
		}
	}

    @keyframes MakeItFly {
        100% {
			opacity: 1;
			transform: scaleX(-1) translate(-50vw, 50vmax);
            //transform: scaleX(-1) translate(-50vw, 50vmax);
		}

    }
}

/* Layout */
svg.animation-scene,
svg.transition-scene {
	flex-basis: 100%;
	width: 100%;
	position: relative;
	margin: 1px auto;
	z-index: 1;
}

.explanation {
	margin-top: auto;
}

/* Explanation */

.explanation {
	padding: 3vh 0;
	font-size: 1em;
	line-height: 1.3;
	border-bottom: 3px solid var(--dark-cosmos-color);
	position: relative;
	
	@media (min-width: $mq-medium) {

	&:before {
		content: "";
		position: absolute;
		top: -6vh;
		left: -1.2vh;
		width: 2vh;
		height: 5vh;
		background-repeat: no-repeat;
		background-size: 100%;
		background-image: url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjIuMSwgU1ZHIEV4cG9ydCBQbHVnLUluICAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTYycHgiCgkgaGVpZ2h0PSIzMjYuN3B4IiB2aWV3Qm94PSIwIDAgMTYyIDMyNi43IiBzdHlsZT0ib3ZlcmZsb3c6dmlzaWJsZTtlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE2MiAzMjYuNzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOmhzbCgyOTAsIDM0JSwgMTAlKTt9Cjwvc3R5bGU+CjxkZWZzPgo8L2RlZnM+CjxnPgoJPGNpcmNsZSBjbGFzcz0ic3QwIiBjeD0iODMiIGN5PSIyNzIuNCIgcj0iNTQuMyIvPgoJPGNpcmNsZSBjbGFzcz0ic3QwIiBjeD0iMTA3LjgiIGN5PSI1NC4zIiByPSI1NC4zIi8+Cgk8Y2lyY2xlIGNsYXNzPSJzdDAiIGN4PSIxNC40IiBjeT0iMTIzLjgiIHI9IjE0LjQiLz4KPC9nPgo8L3N2Zz4K");
	}
		font-size: 1.1em;
		line-height: 1.4;
		padding: 3vh 0;
		margin-bottom: -0.9em;
		border-bottom: 6px solid var(--dark-cosmos-color);

		&:before {
			top: -8vw;
			left: -1.3vw;
			width: 2.5vw;
			height: 16vw;
		}
	}

	@media (min-width: $mq-small) and (max-height: $mq-small) {
		font-size: 1em;
		border-bottom: 2px solid var(--dark-cosmos-color);

		&:before {
			background: none;
		}
	}
}

.accent {
	background: var(--dark-cosmos-color);
	padding: 0.2em 0.2em;
}
